.document {
  width: 168px;
  display: flex;
  flex-direction: column;
}

.document__body {
  height: 210px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(13, 42, 80, 0.16);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
}

.document__body-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(1px);
  pointer-events: none;
}

.document__body-bg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.document__body-type {
  background-color: #999AB0;
  border-radius: 8px;
  height: 16px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 600;
  font-size: 10px;
  color: #FFF;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.document__body-title {
  z-index: 1;
  font-weight: 600;
  font-size: 16px;
  color: #122244;
  margin-top: auto;
}

.document__download {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #999AB0;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.document__download > img {
  margin-right: 8px;
}

.document__download:hover {
  color: #122244;
}