.step-eight {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.step-eight__form {
  align-self: center;
  margin-top: 40px;
  max-width: 1208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.step-eight__form-total-price {
  font-size: 20px;
  text-align: center;
  color: #122244;
}

.step-eight__form-total-price > span {
  font-size: 20px;
  color: #4A7AE1;
}

.step-eight__form-pay-payways {
  margin-top: 40px;
  align-self: center;
  display: flex;
}

.step-eight__form-pay-payways > .pay-way:not(:last-child) {
  margin-right: 40px;
}

@media (max-width: 1023px) {
  
  .step-eight__form-pay-payways {
    flex-direction: column;
  }

  .step-eight__form-pay-payways > .pay-way:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }

}