.step-nine {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.step-nine__form {
  align-self: center;
  margin-top: 80px;
  max-width: 1208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.step-nine__form-img {
  display: flex;
  justify-content: center;
}

.step-nine__form-img > img {
  object-fit: contain;
}

.step-nine__form-text {
  margin-top: 40px;
  align-self: center;
  max-width: 824px;
  width: 100%;
  line-height: 27px;
  font-size: 16px;
  text-align: center;
  color: #122244;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.step-nine__form > .button {
  margin-top: 50px;
  align-self: center;
}