.step-one {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.step-one__form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.step-one__form > .input:not(:last-child) {
  margin-bottom: 16px;
}

.step-one__form-bottom {
  width: 100%;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}