.total-price {
  position: absolute;
  left: 0;
  font-size: 18px;
  color: #122244;
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media (max-width: 767px) {
  
  .total-price {
    margin-bottom: 20px;
    position: relative;
  }

}