.step-seven {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.step-seven__form {
  align-self: center;
  margin-top: 40px;
  max-width: 1208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.step-seven__form > .button {
  margin-top: 80px;
  align-self: center;
}