.step-four {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.step-four__form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.step-four__form-inner {
  max-width: 1208px;
  width: 100%;
  align-self: center;
}

.step-four__title {
  font-weight: bold;
  font-size: 24px;
  color: #122244;
  display: flex;
}

.step-four__title > span {
  display: block;
  font-size: 16px;
  color: #999AB0;
  transform: translate(5px, 3px);
}

.step-four__form-inner > .step-four__title:not(:first-child) {
  margin-top: 40px;
}

.step-four__cards {
  margin-top: 24px;
  display: flex;
}

.step-four__cards > .card:not(:last-child) {
  margin-right: 40px;
}

.step-four__form-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.step-four__form-bottom-inner {
  max-width: 1208px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 767px) {

  .step-four__form-bottom-inner {
    flex-direction: column;
  }

}