.step-ten {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.step-ten__form {
  align-self: center;
  margin-top: 40px;
  max-width: 1208px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 20px;
}

.step-ten__form-text {
  text-align: center;
}

.step-ten__form-links {
  margin-top: 16px;
  text-align: center;
}

.step-ten__form-links > a:not(:last-child) {
  margin-right: 24px;
}

.step-ten__form > .button {
  margin-top: 50px;
  align-self: center;
}

.step-ten__form > .step-ten__form-info {
  margin-bottom: 56px;
}