.step-two {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.step-two__form {
  margin-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.step-two__form-bottom {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}